.search-container {
    margin-bottom: 2rem;

    input {
        padding: 15px;
        border: .5px solid gray;
        outline: none;
        border-radius: 2rem;
        width: 100%;
    }
}

.filter-container {
    margin-right: 3rem;
    #dropdown-menu-align-right {
        width: 100%;
        border-radius: 15px;
        padding: 10px;
    }
}