.popular-movies-container {
    margin-top: 4rem;
    margin-right: 3rem;
    position: fixed;

    .movies {
        border: .3px solid gray;
        padding: 15px;
        border-radius: 10px;

    }

    h5 {
        cursor: pointer;
    }

    h5:hover {
        color: blue;
    }
}